{% extends "base.html" %}

{% block title %}Top Scores - Area Intruders{% endblock %}

{% block content %}
    <div class="container mt-4 text-center">
        <h2 class="mb-4">🏆 Top Scores</h2>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nick</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.no }}</td>
                        <td>{{ log.nick }}</td>
                        <td>{{ log.score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
